.navbar {
    background-color: #ffb901 !important;
}

.navbar-burger span {
    background-color: #000000;
}

.navbar-link,.navbar-item {
    color: #000000 !important;
}

.header .navbar .navbar-brand .navbar-item:hover {
    background-color: transparent !important;
}

@media screen and (min-width:1024px) {
    .navbar-item:not(.hide-for-print):hover {
        background-color: #f5f5f5 !important;
    }

    .navbar-item.has-dropdown:hover .navbar-link,.navbar-end .navbar-link:hover,.navbar-end>a.navbar-item:hover {
        background-color: #e0a100 !important;
    }
}

.footer {
    background-color: #ffb901 !important;
}

.center-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-input {
  color: #333;
  font-family: inherit;
  font-size: 0.95rem;
  width: 150px;
  border: 1px solid #dbdbdb;
  border-radius: 0.1em;
  line-height: 1.5;
  padding: 0 0.25em;
}

@media screen and (min-width: 769px) {
  #search-input {
    width: 200px;
  }
}

