bin/
dist/
deploy/out/
docs/build/
cerbos.bin
hack/dev/tls.crt
hack/dev/tls.key
internal/confdocs/

# Local Netlify folder
.netlify

# Editor files
.vscode
.idea

# macOS files
.DS_Store

coverage.out
e2e.cover
unit.cover
integration.cover
junit.*.xml
test-times.json

go.work
go.work.sum
