go 1.23.1

use (
	.
	./api/genpb
	./hack/tools/generate-npm-packages
	./hack/tools/testsplit
	./tools
)

replace github.com/cerbos/cloud-api => /home/cell/work/cloud-api

replace github.com/cerbos/cerbos-sdk-go => /home/cell/work/cerbos-sdk-go
