[build]
publish = "docs/build"

# Only required until Antora LFS support lands. https://gitlab.com/antora/antora/-/issues/185

[[redirects]]
from = "/cerbos/latest/_images/*"
to = "/cerbos/prerelease/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/latest/:module/_images/*"
to = "/cerbos/prerelease/:module/_images/:splat"
status = 302
force = true


# Version-specific redirects because Netlify creates a redirect loop if we try to use a version wildcard.

[[redirects]]
from = "/cerbos/0.31.0/_images/*"
to = "/cerbos/prerelease/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.31.0/:module/_images/*"
to = "/cerbos/prerelease/:module/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.32.0/_images/*"
to = "/cerbos/prerelease/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.32.0/:module/_images/*"
to = "/cerbos/prerelease/:module/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.33.0/_images/*"
to = "/cerbos/prerelease/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.33.0/:module/_images/*"
to = "/cerbos/prerelease/:module/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.34.0/_images/*"
to = "/cerbos/prerelease/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.34.0/:module/_images/*"
to = "/cerbos/prerelease/:module/_images/:splat"
status = 302
force = true


[[redirects]]
from = "/cerbos/0.35.0/_images/*"
to = "/cerbos/prerelease/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.35.0/:module/_images/*"
to = "/cerbos/prerelease/:module/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.35.1/_images/*"
to = "/cerbos/prerelease/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.35.1/:module/_images/*"
to = "/cerbos/prerelease/:module/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.36.0/_images/*"
to = "/cerbos/prerelease/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.36.0/:module/_images/*"
to = "/cerbos/prerelease/:module/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.37.0/_images/*"
to = "/cerbos/prerelease/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.37.0/:module/_images/*"
to = "/cerbos/prerelease/:module/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.38.0/_images/*"
to = "/cerbos/prerelease/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.38.0/:module/_images/*"
to = "/cerbos/prerelease/:module/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.38.1/_images/*"
to = "/cerbos/prerelease/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.38.1/:module/_images/*"
to = "/cerbos/prerelease/:module/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.39.0/_images/*"
to = "/cerbos/prerelease/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.39.0/:module/_images/*"
to = "/cerbos/prerelease/:module/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.40.0/_images/*"
to = "/cerbos/prerelease/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.40.0/:module/_images/*"
to = "/cerbos/prerelease/:module/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.41.0/_images/*"
to = "/cerbos/prerelease/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.41.0/:module/_images/*"
to = "/cerbos/prerelease/:module/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.42.0/_images/*"
to = "/cerbos/prerelease/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.42.0/:module/_images/*"
to = "/cerbos/prerelease/:module/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.43.0/_images/*"
to = "/cerbos/prerelease/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.43.0/:module/_images/*"
to = "/cerbos/prerelease/:module/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.44.0/_images/*"
to = "/cerbos/prerelease/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.44.0/:module/_images/*"
to = "/cerbos/prerelease/:module/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.45.0/_images/*"
to = "/cerbos/prerelease/_images/:splat"
status = 302
force = true

[[redirects]]
from = "/cerbos/0.45.0/:module/_images/*"
to = "/cerbos/prerelease/:module/_images/:splat"
status = 302
force = true
# IMG_REDIRECTS_END

# This has to be at the bottom for the above redirects to work
[[redirects]]
from = "/cerbos/:version/*"
to = "/cerbos/latest/:splat"
status = 301
