<footer class="footer">
    <a style="vertical-align: middle;" href="https://cerbos.dev">
        <img src="{{uiRootPath}}/cerbie.svg" alt="Cerbos" height="50"/>
    </a>
    <span>&nbsp;&nbsp;Copyright (C) 2020-{{year}} <a href="https://cerbos.dev">Zenauth Ltd.</a></span>
</footer>

<!-- Algolia DocSearch -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
apiKey: 'a95a2992f9a9d3adf7ee3380e5503fb3',
indexName: 'cerbos',
inputSelector: '#search-input',
debug: false // Set debug to true if you want to inspect the dropdown
});
</script>
<!-- End Algolia DocSearch -->
