<footer class="footer">
    <a style="vertical-align: middle;" href="https://cerbos.dev">
        <img src="{{uiRootPath}}/cerbie.svg" alt="Cerbos" height="50"/>
    </a>
    <span>&nbsp;&nbsp;Copyright (C) 2020-{{year}} <a href="https://cerbos.dev">Zenauth Ltd.</a></span>
</footer>

<!-- Algolia DocSearch -->
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@alpha"></script>
<script type="text/javascript">
docsearch({
  container: '#docsearch',
  appId: '8URDSOZBS0',
  indexName: 'cerbos',
  apiKey: 'dee65155682fdeb12ea7dc2e30fa6de7'
});
</script>
<!-- End Algolia DocSearch -->
