<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}" style="vertical-align: middle;">
            <img src="{{uiRootPath}}/cerbos.svg" alt="Cerbos" width="134" height="50"/>
        </a>
      </div>


      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item hide-for-print">
            <div id="docsearch"></div>
        </div>

        <a class="navbar-item" href="https://www.cerbos.dev/workshop?utm_campaign=brand_cerbos&utm_source=documentation&utm_medium=text" target="_blank">Talk to an engineer</a>

        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Cerbos PDP</div>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{site.url}}/cerbos/latest/index.html">Documentation</a>
            <a class="navbar-item" href="https://github.com/cerbos/cerbos">Code</a>
            <a class="navbar-item" href="https://github.com/cerbos/cerbos/issues">Issue Tracker</a>
            <a class="navbar-item" href="https://github.com/cerbos/cerbos/discussions">Discussion Forum</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Cerbos Hub</div>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://hub.cerbos.cloud">Sign up</a>
            <a class="navbar-item" href="{{site.url}}/cerbos-hub/">Documentation</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Support</div>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="http://go.cerbos.io/slack">Community Slack</a>
            <a class="navbar-item" href="https://github.com/cerbos/cerbos/discussions">Discussion Forum</a>
            <a class="navbar-item" href="mailto:help@cerbos.dev">Email (help@cerbos.dev)</a>
          </div>
        </div>

        <a class="navbar-item" href="https://cerbos.dev">Cerbos website</a>

      </div>
    </div>
  </nav>
</header>
