<div class="toolbar" role="navigation">
{{> nav-toggle}}
  {{#with site.homeUrl}}
  <a href="{{{relativize this}}}" class="home-link{{#if @root.page.home}} is-current{{/if}}"></a>
  {{/with}}
{{> breadcrumbs}}
{{> page-versions}}
{{> edit-this-page}}
{{#if page.url}}
<div class="copy-page-md-wrapper">
<button class="copy-page-md" type="button" data-page-url="{{page.url}}" title="Copy this page as Markdown" aria-label="Copy this page as Markdown">
<svg class="doc-action-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="14" height="14" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
<rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
<path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
</svg>
<span class="copy-page-md-label">Copy as Markdown</span>
</button>
</div>
{{/if}}
</div>
