redpanda:
  data_directory: /var/lib/redpanda/data
  rpc_server:
    address: 0.0.0.0
    port: 33145
  kafka_api:
    - address: 0.0.0.0
      port: 9092
  admin:
    - address: 0.0.0.0
      port: 9644
{{- if .TLSEnabled }}
  kafka_api_tls:
    - key_file: /certs/tls.key
      cert_file: /certs/tls.crt
      truststore_file: /certs/ca.crt
      enabled: true
      require_client_auth: true
{{- end }}
  advertised_kafka_api:
    - address: localhost
      port: {{ .Port }}
  developer_mode: true
  auto_create_topics_enabled: true
  fetch_reads_debounce_timeout: 10
  group_initial_rebalance_delay: 0
  group_topic_partitions: 3
  log_segment_size_min: 1
  storage_min_free_bytes: 10485760
  topic_partitions_per_shard: 1000
rpk:
  coredump_dir: /var/lib/redpanda/coredump
  overprovisioned: true
