# Default values for mssql-latest.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicas: 1

image:
  repository: mcr.microsoft.com/azure-sql-edge
  pullPolicy: Always
  tag: latest

ACCEPT_EULA:
  value: "y"
MSSQL_PID:
  value: "Developer"
MSSQL_AGENT_ENABLED:
  value: "true"
hostname: mssqllatest
sa_password: "MyPassword1!"
containers:
  ports:
    containerPort: 1433

podAnnotations: {}

podSecurityContext:
  fsGroup: 10001

service:
  type: ClusterIP
  port: 1433
