{{define "check"}}
    #[wasm_bindgen]
    pub fn check(val: JsValue) -> Result<String, JsValue> {
        match val.into_serde::<Request>() {
            Ok(req) => Ok(check_impl(req)),
            Err(e) => Err(JsValue::from_str(&e.to_string()))
        }
    }
    fn check_impl(request: Request) -> String {
        let p = request.principal;
        let roles: Vec<_> = p.roles.iter().map(AsRef::as_ref).collect();
        let r = request.resource;
        {{range $rule := .Rules }}
        if intersect(&roles, &vec![{{template "join-string-slice" $rule.Roles}}]) {
            if action_matched(&request.action, &vec![{{template "join-string-slice" $rule.Actions}}]) {
            {{if $rule.Condition}}
                {{$rule.RenderCondition template "condition" $rule.Condition}}
            {{else}}    return {{printf "%q" $rule.Effect}}.to_owned(); {{end}}
            }
        }
        {{- end}}

        return "EFFECT_DENY".to_owned();
    }
{{end}}