{{define "request"}}

{{if .Resource -}}
#[derive(Serialize, Deserialize)]
struct ResourceAttr {
{{ range $prop := .Resource }} {{template "field" $prop}}
{{end -}}
}
{{- end}}

#[derive(Serialize, Deserialize)]
struct Resource {
    id: String,
{{- if .Resource }}
    attr: ResourceAttr,
{{- end}}
}

{{if .Principal -}}
#[derive(Serialize, Deserialize)]
struct PrincipalAttr {
{{ range $prop := .Principal }} {{template "field" $prop}}
{{end -}}
}
{{- end}}

#[derive(Serialize, Deserialize)]
struct Principal {
    id: String,
    roles: Vec<String>,
{{- if .Principal }}
    attr: PrincipalAttr,
{{- end}}
}

#[derive(Serialize, Deserialize)]
struct Request {
    request_id: String,
    action: String,
    principal: Principal,
    resource: Resource,
}
{{end}}