name: Cache dependencies

on:
  push:
    branches:
      - main
  workflow_call:

jobs:
  changes:
    name: Check for changes
    runs-on: ubuntu-latest
    timeout-minutes: 15
    outputs:
      deps: ${{ steps.filter.outputs.deps }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Check for changes
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            deps:
              - .github/workflows/cache.yaml
              - "**/go.mod"

  cache:
    name: Cache dependencies
    needs: changes
    if: ${{ needs.changes.outputs.deps == 'true' }}
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Free disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Check out code
        uses: actions/checkout@v4

      - name: Install Go and cache dependencies
        id: setup
        uses: ./.github/actions/setup-go
        with:
          write_deps_cache: true
          write_build_cache: true

      - name: Install just
        uses: extractions/setup-just@v2

      - name: Warm cache
        if: ${{ steps.setup.outputs.cache_hit != 'true' }}
        run: just warm-cache
