---
name: E2E Tests
on:
  workflow_dispatch:
  schedule:
    - cron: 0 1 * * 1-5
jobs:
  runE2ETests:
    name: Run E2E Tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Free disk space
        uses: ./.github/actions/free-disk-space

      - name: Install Go and restore cached dependencies
        uses: ./.github/actions/setup-go

      - name: Install Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          version: v3.18.1

      - name: Install Helm Secrets
        shell: bash
        run: |-
          helm plugin install https://github.com/jkroepke/helm-secrets --version v4.6.5
      - name: Install Helmfile
        uses: jaxxstorm/action-install-gh-release@6096f2a2bbfee498ced520b6922ac2c06e990ed2 # v2.1.0
        with:
          repo: helmfile/helmfile
          tag: v1.2.2

      - name: Telepresence
        run: |
          mkdir bin
          curl -fL https://ambassador-labs.gateway.scarf.sh/telepresenceio/telepresence/releases/download/v2.25.1/telepresence-linux-amd64 -o bin/telepresence
          chmod +x bin/telepresence
          echo "$(pwd)/bin" >> $GITHUB_PATH
          mkdir -p ~/.config/telepresence
          cat >~/.config/telepresence/config.yml <<EOF
          timeouts:
            helm: 60s
            trafficManagerAPI: 30s
          EOF
          go install github.com/stern/stern@latest

      - name: Initialize Helmfile
        run: helmfile init --force

      - name: Install KinD
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        with:
          cluster_name: cerbos-e2e
          config: e2e/kind.yaml
          wait: 180s

      - name: Run E2E Tests
        run: e2e/run.sh
        env:
          E2E_SKIP_CLUSTER: "true"
          E2E_NO_CLEANUP: "true"

      - name: Notify Slack
        if: failure()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@373da97827332b19e753c84d1e5b7937dbe0fbfa # v2
        with:
          channel_id: C02TMGNNL4V
          status: FAILED
          color: danger
