---
name: E2E Tests
on:
  workflow_dispatch:
  schedule:
    - cron: 0 1 * * 1-5
jobs:
  runE2ETests:
    name: Run E2E Tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false # this might remove tools that are actually needed, if set to "true" but frees about 6 GB
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Go and restore cached dependencies
        uses: ./.github/actions/setup-go

      - name: Install Helm
        uses: azure/setup-helm@v4
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          version: v3.18.1

      - name: Install Helm Secrets
        shell: bash
        run: |-
          helm plugin install https://github.com/jkroepke/helm-secrets --version v4.6.5
      - name: Install Helmfile
        uses: ./.github/actions/setup-tool
        with:
          repo: helmfile/helmfile
          tag: v1.1.1

      - name: Telepresence
        run: |
          curl -fL https://ambassador-labs.gateway.scarf.sh/telepresenceio/telepresence/releases/download/v2.13.2/telepresence-linux-amd64 -o bin/telepresence
          chmod +x bin/telepresence
          echo "$(pwd)/bin" >> $GITHUB_PATH
          mkdir -p ~/.config/telepresence
          cat >~/.config/telepresence/config.yml <<EOF
          timeouts:
            helm: 60s
            trafficManagerAPI: 30s
          EOF
          go install github.com/stern/stern@latest

      - name: Initialize Helmfile
        run: helmfile init --force

      - name: Install KinD
        uses: helm/kind-action@v1.12.0
        with:
          cluster_name: cerbos-e2e
          config: e2e/kind.yaml
          wait: 180s

      - name: Run E2E Tests
        run: e2e/run.sh
        env:
          E2E_SKIP_CLUSTER: "true"
          E2E_NO_CLEANUP: "true"

      - name: Notify Slack
        if: failure()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v2
        with:
          channel_id: C02TMGNNL4V
          status: FAILED
          color: danger
