---
name: CI
on:
  pull_request:
    branches:
      - main
      - "v*"
      - "feat/*"
jobs:
  changes:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      code: ${{ steps.filter.outputs.code }}
      docs: ${{ steps.filter.outputs.docs }}
      npm: ${{ steps.filter.outputs.npm }}
      protos: ${{ steps.filter.outputs.protos }}
    steps:
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            code:
              - '!(.node-version|{docs,npm}/**)'
            docs:
              - .github/workflows/pr-test.yaml
              - 'docs/**'
            npm:
              - .github/workflows/pr-test.yaml
              - 'npm/**'
              - .node-version
            protos:
              - .github/workflows/pr-test.yaml
              - '**/*.proto'

  cache:
    uses: ./.github/workflows/cache.yaml

  generate:
    needs: changes
    if: ${{ needs.changes.outputs.code == 'true' }}
    name: Generate
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Free disk space
        uses: ./.github/actions/free-disk-space

      - name: Install Go and restore cached dependencies
        uses: ./.github/actions/setup-go

      - name: Install just
        uses: extractions/setup-just@v3

      - name: Generate
        run: just generate

      - name: Check repo status
        run: |-
          REPO_STATUS="$(git status --porcelain)"
          if [[ ! -z $REPO_STATUS ]]; then
            echo "::error::Uncommitted changes detected"
            echo "$REPO_STATUS"
            exit 1
          fi

  download-test-times:
    name: Download test times
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Download previous test times
        continue-on-error: true
        uses: dawidd6/action-download-artifact@v11
        with:
          workflow: pr-test.yaml
          name: test-times
          search_artifacts: true

      - name: Upload previous test times
        uses: actions/upload-artifact@v4
        with:
          name: previous-test-times
          path: test-times.json

  test:
    needs:
      - changes
      - download-test-times
    if: ${{ needs.changes.outputs.code == 'true' }}
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        split: [0, 1, 2, 3, 4, 5]
    outputs:
      job-total: ${{ strategy.job-total }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          lfs: true

      - name: Free disk space
        uses: ./.github/actions/free-disk-space

      - name: Install Go and restore cached dependencies
        uses: ./.github/actions/setup-go

      - name: Install just
        uses: extractions/setup-just@v3

      - name: Download previous test times
        uses: actions/download-artifact@v6
        with:
          name: previous-test-times

      - name: Test
        run: just test-all ${{ strategy.job-index }} ${{ strategy.job-total }}
        env:
          GOEXPERIMENT: loopvar # https://github.com/golang/go/wiki/LoopvarExperiment
          CERBOS_LOG_LEVEL: "debug"
          CERBOS_TEST_LOG_LEVEL: "debug"
          CERBOS_DEBUG_DB: "true"
          CERBOS_DEBUG_ENGINE: "true"
          CERBOS_DEBUG_KAFKA: "true"
          CERBOS_HUB_API_ENDPOINT: "${{ secrets.CERBOS_HUB_API_ENDPOINT }}"
          CERBOS_HUB_CLIENT_ID: "${{ secrets.CERBOS_HUB_CLIENT_ID }}"
          CERBOS_HUB_CLIENT_SECRET: "${{ secrets.CERBOS_HUB_CLIENT_SECRET }}"
          CERBOS_HUB_STORE_ID: "${{ secrets.CERBOS_HUB_STORE_ID }}"

      - name: Upload JUnit reports
        uses: actions/upload-artifact@v4
        with:
          name: junit-reports-${{ strategy.job-index }}
          path: junit.*.xml

      - name: Upload unit coverage to Coveralls
        uses: shogo82148/actions-goveralls@v1
        continue-on-error: true
        with:
          path-to-profile: unit.cover
          flag-name: unit-${{ strategy.job-index }}
          parallel: true
          fail-on-error: false

      - name: Upload integration coverage to Coveralls
        uses: shogo82148/actions-goveralls@v1
        continue-on-error: true
        with:
          path-to-profile: integration.cover
          flag-name: integration-${{ strategy.job-index }}
          parallel: true
          fail-on-error: false

  upload-test-times:
    needs: test
    if: ${{ always() && needs.test.result != 'skipped' }}
    name: Upload test times
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Check test results
        run: test "${{ needs.test.result }}" = "success"

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x
          cache: false
          check-latest: true

      - name: Install just
        uses: extractions/setup-just@v3

      - name: Download JUnit reports
        uses: actions/download-artifact@v6

      - name: Combine JUnit reports
        run: |-
          mv junit-reports-*/junit.*.xml .
          just test-times ${{ needs.test.outputs.job-total }}

      - name: Upload new test times
        uses: actions/upload-artifact@v4
        with:
          name: test-times
          path: test-times.json

      - name: Complete coveralls report
        uses: shogo82148/actions-goveralls@v1
        continue-on-error: true
        with:
          parallel-finished: true
          fail-on-error: false

  docs:
    needs: changes
    if: ${{ needs.changes.outputs.docs == 'true' }}
    name: Build docs
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          lfs: true

      - name: Generate docs
        uses: ./.github/actions/antora-docs
        id: docs

  golangci:
    needs: changes
    if: ${{ needs.changes.outputs.code == 'true' }}
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x
          check-latest: true
          cache: false

      - name: Install just
        uses: extractions/setup-just@v3

      - name: modernize
        run: just lint-modernize

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8.0.0
        with:
          version: latest
          args: "--config=.golangci.yaml -v"

  buf:
    needs: changes
    if: ${{ needs.changes.outputs.protos == 'true' }}
    name: Proto check
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Lint protos
        uses: bufbuild/buf-action@v1.3.0
        with:
          breaking: false
          format: true
          lint: true

      - name: Find latest release
        id: latest-release
        run: gh release view --json tagName --jq '"tag=\(.tagName)"' >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Set latest release commit ID
        id: latest_release_commit_id
        run: |
          echo "LATEST_RELEASE_COMMIT_ID=$(git rev-list -n 1 tags/${{ steps.latest-release.outputs.tag }})" >> "$GITHUB_OUTPUT"

      - name: Check backwards compatibility
        uses: cerbos/buf-breaking-action@since
        with:
          against: https://github.com/cerbos/cerbos.git#ref=${{ steps.latest_release_commit_id.outputs.LATEST_RELEASE_COMMIT_ID }}
          since: https://github.com/cerbos/cerbos.git#ref=main

  test-helm:
    needs: changes
    if: ${{ needs.changes.outputs.code == 'true' }}
    name: Helm test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: "1.25.x"

      - name: Test Helm chart
        run: ./deploy/charts/validate.sh

  build-npm:
    needs: changes
    if: ${{ needs.changes.outputs.npm == 'true' }}
    name: Build npm packages
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Free disk space
        uses: ./.github/actions/free-disk-space

      - name: Install Go and cache dependencies
        uses: ./.github/actions/setup-go
        with:
          cross_compiling: true

      - name: Install Syft
        uses: anchore/sbom-action/download-syft@v0

      - name: Build binaries
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: build --config=.goreleaser.yml --clean --snapshot
        env:
          AWS_CONTAINER_REPO: ${{ vars.AWS_CONTAINER_REPO }}
          AWS_PRODUCT_CODE: ${{ vars.AWS_PRODUCT_CODE }}
          TELEMETRY_WRITE_KEY: ${{ secrets.TELEMETRY_WRITE_KEY }}
          TELEMETRY_URL: ${{ secrets.TELEMETRY_URL }}

      - name: Collect npm packages
        run: tar --create --verbose --file npm.tar npm

      - name: Upload npm packages
        uses: actions/upload-artifact@v4
        with:
          name: npm-packages
          path: npm.tar

  test-npm:
    needs: build-npm
    name: Test npm packages
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - macos-latest
          - ubuntu-latest
    runs-on: ${{ matrix.runs-on }}
    timeout-minutes: 10
    steps:
      - name: Check out .node-version file
        uses: actions/checkout@v5
        with:
          sparse-checkout: |
            .node-version
            hack/scripts/install-corepack.sh
          sparse-checkout-cone-mode: false

      - name: Download npm packages
        uses: actions/download-artifact@v6
        with:
          name: npm-packages

      - name: Extract npm packages
        run: tar --extract --verbose --file npm.tar

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          cache: npm
          cache-dependency-path: npm/test/registry/package-lock.json
          node-version-file: .node-version

      # https://github.com/actions/runner-images/issues/9626
      - name: Don't force curl to use IPv4
        run: rm -f ~/.curlrc

      - name: Install corepack
        run: hack/scripts/install-corepack.sh

      - name: Test npm packages
        working-directory: npm
        run: corepack npm test

  test-npm-results:
    name: Check results of npm package tests
    runs-on: ubuntu-latest
    if: always() && needs.test-npm.result != 'skipped'
    needs:
      - test-npm
    steps:
      - name: Check test results
        run: test "${{ needs.test-npm.result }}" = "success"
