---
name: Snapshots
on:
  workflow_dispatch:
  push:
    paths-ignore:
      - "docs/**"
    branches:
      - main
jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
          lfs: true

      - name: Free disk space
        uses: ./.github/actions/free-disk-space

      - name: Install Go and cache dependencies
        uses: ./.github/actions/setup-go
        with:
          cross_compiling: true
          write_build_cache: true

      - name: Install just
        uses: ./.github/actions/setup-just

      - name: Generate
        run: just generate

      - name: Check repo status
        run: |-
          REPO_STATUS="$(git status --porcelain)"
          if [[ ! -z $REPO_STATUS ]]; then
            echo "::error::Uncommitted changes detected"
            echo "$REPO_STATUS"
            exit 1
          fi

      - name: Test
        run: just test-all
        env:
          CERBOS_LOG_LEVEL: "debug"

      - name: Upload unit coverage to Coveralls
        uses: shogo82148/actions-goveralls@25f5320d970fb565100cf1993ada29be1bb196a1 # v1
        continue-on-error: true
        with:
          path-to-profile: unit.cover
          flag-name: unit-main
          fail-on-error: false

      - name: Upload integration coverage to Coveralls
        uses: shogo82148/actions-goveralls@25f5320d970fb565100cf1993ada29be1bb196a1 # v1
        continue-on-error: true
        with:
          path-to-profile: integration.cover
          flag-name: integration-main
          fail-on-error: false

  publishContainers:
    name: Publish Dev Containers
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs: ["tests"]
    permissions:
      id-token: write
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
          lfs: true

      - name: Free disk space
        uses: ./.github/actions/free-disk-space

      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
        with:
          image: tonistiigi/binfmt:latest
          platforms: arm64

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Log in to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5
        with:
          role-to-assume: arn:aws:iam::${{ vars.AWS_ACCOUNT_ID }}:role/github
          aws-region: ${{ vars.AWS_REGION }}

      - name: Log in to ECR
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2
        with:
          registries: ${{ vars.AWS_CONTAINER_REGISTRY_ID }}

      - name: Install Go and cache dependencies
        uses: ./.github/actions/setup-go
        with:
          cross_compiling: true
          write_build_cache: true

      - name: Install cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        with:
          cosign-release: v2.6.1

      - name: Install Syft
        uses: anchore/sbom-action/download-syft@43a17d6e7add2b5535efe4dcae9952337c479a93 # v0

      - name: GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
        with:
          version: latest
          args: release --config=.goreleaser.yml --clean --snapshot --skip=publish
        env:
          AWS_CONTAINER_REPO: ${{ vars.AWS_CONTAINER_REPO }}
          AWS_PRODUCT_CODE: ${{ vars.AWS_PRODUCT_CODE }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TELEMETRY_WRITE_KEY: ${{ secrets.TELEMETRY_WRITE_KEY }}
          TELEMETRY_URL: ${{ secrets.TELEMETRY_URL }}

      - name: Push Cerbos dev images
        run: |
          docker push ghcr.io/cerbos/cerbos:dev-amd64
          docker push ghcr.io/cerbos/cerbos:dev-arm64
          docker manifest create ghcr.io/cerbos/cerbos:${{ github.sha }} ghcr.io/cerbos/cerbos:dev-arm64 ghcr.io/cerbos/cerbos:dev-amd64
          docker manifest push ghcr.io/cerbos/cerbos:${{ github.sha }}
          docker manifest create ghcr.io/cerbos/cerbos:dev ghcr.io/cerbos/cerbos:dev-arm64 ghcr.io/cerbos/cerbos:dev-amd64
          docker manifest push ghcr.io/cerbos/cerbos:dev

      - name: Push Cerbosctl dev images
        run: |
          docker push ghcr.io/cerbos/cerbosctl:dev-amd64
          docker push ghcr.io/cerbos/cerbosctl:dev-arm64
          docker manifest create ghcr.io/cerbos/cerbosctl:${{ github.sha }} ghcr.io/cerbos/cerbosctl:dev-arm64 ghcr.io/cerbos/cerbosctl:dev-amd64
          docker manifest push ghcr.io/cerbos/cerbosctl:${{ github.sha }}
          docker manifest create ghcr.io/cerbos/cerbosctl:dev ghcr.io/cerbos/cerbosctl:dev-arm64 ghcr.io/cerbos/cerbosctl:dev-amd64
          docker manifest push ghcr.io/cerbos/cerbosctl:dev

      - name: Push Cerbos dev images to Docker Hub
        run: |
          docker push docker.io/cerbos/cerbos:dev-amd64
          docker push docker.io/cerbos/cerbos:dev-arm64
          docker manifest create docker.io/cerbos/cerbos:dev docker.io/cerbos/cerbos:dev-arm64 docker.io/cerbos/cerbos:dev-amd64
          docker manifest push docker.io/cerbos/cerbos:dev

      - name: Push Cerbosctl dev images to Docker Hub
        run: |
          docker push docker.io/cerbos/cerbosctl:dev-amd64
          docker push docker.io/cerbos/cerbosctl:dev-arm64
          docker manifest create docker.io/cerbos/cerbosctl:dev docker.io/cerbos/cerbosctl:dev-arm64 docker.io/cerbos/cerbosctl:dev-amd64
          docker manifest push docker.io/cerbos/cerbosctl:dev

  publishProtos:
    name: Publish Protobufs
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: ["tests"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Push to BSR
        uses: bufbuild/buf-action@8f4a1456a0ab6a1eb80ba68e53832e6fcfacc16c # v1.3.0
        with:
          push: true
          token: ${{ secrets.BUF_TOKEN }}
