---
name: Test Matrix
on:
  workflow_dispatch:
jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Go and restore cached dependencies
        uses: ./.github/actions/setup-go

      - name: Build
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: latest
          args: build --config=.goreleaser.yml --clean --snapshot --single-target

      - name: Test
        run: |
          go install -modfile=tools/go.mod gotest.tools/gotestsum
          gotestsum --rerun-fails --packages="./..." -- -tags=tests -race
