---
name: Test Matrix
on:
  workflow_dispatch:
jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Go and restore cached dependencies
        uses: ./.github/actions/setup-go

      - name: Build
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: build --config=.goreleaser.yml --clean --snapshot --single-target

      - name: Test
        run: |
          go install -modfile=tools/go.mod gotest.tools/gotestsum
          gotestsum --rerun-fails --packages="./..." -- -tags=tests -race
