---
name: Vulnerability Check
on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * 1,3,5"
jobs:
  runVulnerabilityCheck:
    name: Run Vulnerability Check
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Free disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Go and restore cached dependencies
        uses: ./.github/actions/setup-go

      - name: Check vulnerabilities
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@master
          govulncheck ./...

      - name: Notify Slack
        if: failure()
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        uses: voxmedia/github-action-slack-notify-build@v2
        with:
          channel_id: C02TMGNNL4V
          status: FAILED
          color: danger
